{% extends "page.html" %}
{% block title %}Administrator dashboard - {{ super() }}{% endblock %}
{% block breadcrumb_content %}
<li class="govuk-breadcrumbs__list-item">
  <a class='govuk-breadcrumbs__link' href="{{h.url_for('nap_theme.admin_applications')}}">
    {{ _('Administrator dashboard') }}
  </a>
</li>
<li class="govuk-breadcrumbs__list-item">{{ _('Reject application') }}</li>
{% endblock %}
{% block main_section_content %}
<h1 class="govuk-heading-l">{{_('Reject data publisher application')}}</h1>

<h2 class="govuk-heading-m">{{_("Respond to the data publisher application below.")}}</h2>
<!-- govuk errors -->
{% if error_summary %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">

      {% set ns= namespace(last_error = '') %}
        {% for key, error in error_summary.items() %}
        <li>
          {% if error !=  ns.last_error %}
            <a href="#{{key.lower().replace(' ','-')}}-error">{{error}}</a>
          {% endif %}
          {% set ns.last_error = error %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% snippet 'user/snippets/user_application.html', user=user %}
<form 
  action="{{ h.url_for('nap_theme.admin_application_rejected') }}" 
  method="post"
>
  <input 
  id="id" 
  name="id" 
  type="hidden"
  value="{{user.id}}" 
  />

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--l" for="reject-message">
      {{_("Add a message")}}
    </label>
    <div id="reject_message-hint" class="govuk-hint">
      {{_("Give some details on why this application was rejected")}}
    </div>
    {% set error_class = 'govuk-select--error' if 'reject-message' in error_summary else '' %}
    {% if 'reject-message' in error_summary %}
    <span id="reject-message-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{error_summary['reject-message']}}
    </span>
    {% endif %}
    <textarea 
      class="govuk-textarea {{error_class}}" 
      id="reject-message-field" 
      name="reject_message" 
      rows="5"
      aria-describedby="reject_message-hint"></textarea>
  </div>
  <div class="govuk-button-group">
    <button 
      id="reject_application_button" 
      class="govuk-button govuk-button--warning govuk-!-margin-bottom-2"
      data-module="govuk-button"
       type="submit">
      {{_("Reject") }}
    </button>
    <a 
      data-prevent-double-click="true" 
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2"
      data-module="govuk-button" 
      href="{{h.url_for('nap_theme.admin_applications')}}" 
      role="button"
    >
      {{_("Cancel")}}
    </a>
  </div>
</form>
{% endblock %}