.notify-cookie-banner__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__wrapper {
        padding-top: 20px;
    }
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__wrapper {
        padding-bottom: 25px;
    }
}
.notify-cookie-banner {
    display: none;
}
.notify-cookie-banner__buttons {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__buttons {
        flex-wrap: nowrap;
    }
}
.notify-cookie-banner__button,
.notify-cookie-banner__link {
    vertical-align: baseline;
}
.notify-cookie-banner__button {
    display: inline-block;
    flex: 1 0;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__button {
        flex: 0 0 150px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
    }
}
.notify-cookie-banner__button-accept {
    margin-right: 20px;
}
.notify-cookie-banner__link {
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    line-height: 1;
    display: block;
    width: 100%;
    padding: 9px 0 6px;
}
@media print {
    .notify-cookie-banner__link {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__link {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .notify-cookie-banner__link {
        font-size: 14pt;
        line-height: 1.15;
    }
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__link {
        display: inline;
        width: auto;
        margin-left: 30px;
    }
}
.notify-cookie-banner__confirmation {
    display: none;
    position: relative;
    padding: 20px 0;
}
@media (min-width: 48.0625em) {
    .notify-cookie-banner__confirmation {
        padding: 20px;
    }
}
.notify-cookie-banner__confirmation:focus {
    outline: 0;
}
.notify-cookie-banner__confirmation-message,
.notify-cookie-banner__hide-button {
    display: block;
}
@media (min-width: 48.0625em) {
    .notify-cookie-banner__confirmation-message,
    .notify-cookie-banner__hide-button {
        display: inline-block;
    }
}
.notify-cookie-banner__confirmation-message {
    margin-right: 20px;
}
@media (min-width: 48.0625em) {
    .notify-cookie-banner__confirmation-message {
        max-width: 90%;
    }
}
.notify-cookie-banner__hide-button {
    font-family: nta, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #005ea5;
    outline: 0;
    border: 0;
    background: 0 0;
    text-decoration: underline;
    padding: 0;
    margin-top: 10px;
    right: 15px;
    cursor: pointer;
}
@media print {
    .notify-cookie-banner__hide-button {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .notify-cookie-banner__hide-button {
        font-size: 19px;
        line-height: 1.31579;
    }
}
@media print {
    .notify-cookie-banner__hide-button {
        font-size: 14pt;
        line-height: 1.15;
    }
}
@media (min-width: 48.0625em) {
    .notify-cookie-banner__hide-button {
        margin-top: 0;
        position: absolute;
        right: 20px;
    }
}
.notify-cookie-banner__confirmation-message {
    margin-bottom: 0;
}


.select2-container-multi .select2-choices {
    min-height: 26px;
    border: none;
    left:-6px;
    top:-1px;
    background: inherit;
    margin:0;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
    font-family: "GDS Transport", arial, sans-serif;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "GDS Transport", arial, sans-serif;
}

.slug-preview {
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 1.1875rem;
    margin-top: 0.5rem;
}

@media all and (min-width: 480px) {
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
    }
}

.nap-masthead {
  color: #fff;
  background-color: #1d70b8;
  font-size: 14px
}

.nap-masthead-height {
  padding-top: 2px;
  padding-bottom: 5px;
}

.nap-masthead-no-link {
  color: #fff !important;
  text-decoration: none !important;
  cursor: default;
  font-weight: 400 !important;
}

.nap-masthead-link {
  color: #fff !important;
  font-weight: 700;
  text-decoration: none;
}

.nap-search-button, 
.nap-search-button:active {
  background-color: #1d70b8;
  color: #fff;
  border-left-color:#1d70b8;
  margin-left: -5px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  top:0;

}
.nap-search-button:hover {
  background-color: #207dce;
}

.nap-search-button:focus:not(:active):not(:hover) {
  color: #fff;
  background-color: #1d70b8;
  z-index: 2;
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 4px #0b0c0c;
}

.nap-search-text {
  border-right-color:#1d70b8;
  border-right-width: 2px;
  margin-right: 0px;
  position:relative;
  max-width: 85%;
}

.nap-search-text:focus {
  z-index: 2;
}

.nap-search-text-top {
  border-color: #fff;
}

.nap-tag {
  text-transform: none;
  margin-bottom: 2px;
}

.nap-alt-color {
  color: #505a5f;
}

.nap-align-right {
  text-align: left;
}

.nap-delete-confirm-collapser{
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.nap-delete-confirm-container {
  background-color: #F8F8F8;
}

@media (min-width:40.0625em) {
  .nap-search-text {
    max-width: 41ex;
  }

  .nap-align-right {
    text-align: right;
  }

  .nap-masthead-height {
    padding-top: 3px;
    padding-bottom: 6px;
  }

  .nap-masthead {
    font-size: 16px
  }
}

.nap-tag-list {
  padding: 0px;
}

.nap-tag-list li {
  display:inline;
}
