{% block form %}
<form action="{{ action }}" method="post">
    <input 
      type="hidden" 
      name="about" 
      value="unauthorised" 
    />
    <div class="govuk-form-group govuk-!-margin-top-6 ">
      <fieldset class="govuk-fieldset govuk-!-padding-bottom-3" role="group" aria-describedby="login-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            {{_('Create an account')}}
            </h1>
          </legend>
        {% if error_summary%}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for key, error in error_summary.items() %}
                <li>
                  <a href="#{{key.lower().replace(' ','-')}}-error">{{error}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-fullname">
            {{_("Your name")}}
          </label>
            {% set error_class = 'govuk-input--error' if 'Fullname' in error_summary else '' %}
            {% if 'Fullname' in error_summary %}
                <span id="fullname-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['Fullname']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-fullname" name="fullname" type="text" value="{{data['fullname']}}" aria-label="fullname">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-image-url">
            {{_("Your organisation")}}
          </label>
          {% set error_class = 'govuk-input--error' if 'image_url' in error_summary else '' %}
            {% if 'image_url' in error_summary %}
                <span id="organisation-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['image_url']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-image-url" name="image_url" type="text" value="{{data['image_url']}}" aria-label=image_url>
        </div>        
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-email">
            {{_("Your email")}}
          </label>
          {% set error_class = 'govuk-input--error' if 'Email' in error_summary else '' %}
            {% if 'Email' in error_summary %}
                <span id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['Email']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-email" name="email" type="email" value="{{data['email']}}" aria-label="email">
        </div>        
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-username">
            {{_("Create a username")}}
          </label>
          {% set error_class = 'govuk-input--error' if 'Name' in error_summary else '' %}
            {% if 'Name' in error_summary %}
                <span id="name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['Name']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-username" name="name" type="text" value="{{data['name']}}" aria-label="username">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-password">
            {{_("Create a password")}}
          </label>
          <div id="field-password-hint" class="govuk-hint">
            {{_("Passwords must be at least 12 characters long. Do not re-use passwords used for other accounts.")}}
          </div>          
          {% set error_class = 'govuk-input--error' if 'Password1' in error_summary else '' %}
            {% if 'Password1' in error_summary %}
                <span id="password1-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['Password1']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-password" name="password1" type="password" value="{{data['password1']}}" aria-label="password">
        </div> 
        <div class="govuk-form-group">
          <label class="govuk-label" for="field-confirm-password">
            {{_("Confirm your password")}}
          </label>
          {% set error_class = 'govuk-input--error' if 'Password2' in error_summary else '' %}
            {% if 'Password2' in error_summary %}
                <span id="password2-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{error_summary['Password2']}}
                </span>
            {% endif %}
          <input class="govuk-input {{error_class}}" id="field-confirm-password" name="password2" type="password" value="{{data['password2']}}" aria-label="confirm password">
        </div> 
      </fieldset>
      {% block register_button %}
        <button class="govuk-button" data-module="govuk-button" type="submit">{{ _('Submit application') }}</button>
      {% endblock %}
  </div>
</form>
{% endblock %}